@model IPagedList<Meeting>
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Welcome to Nerd Dinner!</h1>
    <p class="lead">
        This project is a re-write of the popular Nerd Dinner MVC application using MVC 5 and Entity Framework 6. It is primarily
        a portfolio project for myself (and I plan on tutorial-izing it) but feel free to download and fork it on GitHub! You may
        click on the color panels below to get details about a dinner and RSVP to it. 
    </p>
    <p><a href="https://github.com/nagstaku/NerdDinner" class="btn btn-primary btn-large">GitHub &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-5">
        @Html.Partial("_Dinners", Model)
    </div>

    <div class="col-md-7 well">
        <div id="map-canvas" style="height: 447px; max-width: none;"></div>
    </div>
</div>
<br />

@section Scripts {
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>
    @Scripts.Render("~/bundles/nerdDinner")
}

